th {
  text-align: center;
}

td {
  text-align: right;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, td, th {
  border: 1px solid #ddd;
}

th, td {
  padding: 15px;
}

.table-container {
  flex-grow: 1;
  text-align: center;
}

.table {
  max-width: 400px;
  display: inline-block;
}

.table-btn-container {
  margin: 20px;
}

.table-btn {
  padding: 10px;
}

.no-shift {
  background: #A9A9A9;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.up-shift {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #32CD32;
}

.down-shift {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #f00;
}